version: 2
updates:
  # Daily updates for Fluid Framework dependencies
  - package-ecosystem: "npm"
    reviewers:
      - "microsoft/fluid-cr-devx"
    # Look for `package.json` and `lock` files in the `root` directory
    directory: "/"
    schedule:
      interval: "daily"
    allow:
      - dependency-name: "@fluidframework*"
      - dependency-name: "fluid-framework"
      - dependency-name: "tinylicious"
    groups:
      # We want to update all Fluid dependencies simultaneously to keep them in sync.
      fluid-framework-dependencies:
        patterns:
          - "@fluidframework*"
          - "fluid-framework"
          - "tinylicious"
    target-branch: "main"

  # Weekly updates for non-Fluid dependencies
  - package-ecosystem: "npm"
    reviewers:
      - "microsoft/fluid-cr-devx"
    directory: "/"
    schedule:
      interval: "weekly"
    allow:
      - dependency-name: "*"
    groups:
      jest:
        patterns:
          - "jest*"
      webpack:
        patterns:
          - "webpack*"
    ignore:
      - dependency-name: "@fluidframework*"
      - dependency-name: "fluid-framework"
      - dependency-name: "tinylicious"
